/* CSS for RMarkdown */

body {
  
  
  background-color: #FFFAF0;
  
}


div {
  
  
  text-align: justify;
  
  text-justify: inter-word;
  
  font-size: 17px;
  
  font-family: Arial;
  
  
}

a:link{
  
  text-decoration: none;
  
  color: darkblue;
  
}


a:hover{
  
  color: purple;
}